@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
:root{
    --light1:#f5efe5;
    --light2:#303960 ;
    --light3:#f7ce95;
    --light4:#ea9a96;
    --dark1:#070e1f;
    --dark2:#27496d;
    --dark3:#00909e;
    --dark4:#becad4;
    --mid3:#1e2d70;
    --mid2:#0d648a;
    --b:black;

}
.light{
    --bg: var(--light1);
    --bgNav: linear-gradient(to left, var(--light2), var(--dark3));
    --color:var(--b);
    --color2: var(--dark4);
    --bg1:var(--dark2);
    --bgNav2: linear-gradient(to left, var(--light2), var(--mid2));
    --op:var(--dark2);
}
.dark{
    --bg:var(--dark1);
    --bgNav: linear-gradient(to right, var(--dark2), var(--dark3));
    --color:var(--dark4);
    --color2: var(--light1);
    --bg1:var(--light3);
    --bgNav2: linear-gradient(to right, var(--mid2), var(--dark3));
    --op:var(--dark3);
}
html{
    overflow-x: hidden;
}
body{
    margin:0;
    padding: 0;
    width: 100vw;
    
    background: var(--bg);
    color: var(--color);
    transition: background 0.5s ease, color 0.9s ease ;

}
footer{
    align-items: center;
    vertical-align: middle;
    background-color: #303960;
    height: 7vh;
    width: 100vw;
  

}
.contact{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    width: 100%;
    padding-top: 3vh;
    padding-left: 0;
    
}

.onload{

    padding: 5vw;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 100;
    font-size: medium;
    color: lightgreen;
    position: fixed;
    z-index: 999;
    background-color: black;
    height: 100vh;
    width: 90vw;
    top: 0;
    display: initial;
    overflow-x: hidden;

}
a{
    color: #e5e5e5;
    text-decoration: none;
}
nav{
  
    background-color: var(--bgNav);
    background-image: var(--bgNav);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 5vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    top: 0;

    
}
.lightSwitch{
    background-color: none;
    border-radius: 10px;
    border: solid 1px white;
    background-color: var(--bg1);
    width: 48px;
    height: 24px;
    z-index: 99;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
}
.lighto{
    
    background-image: url(../pic/astral.png);
    height: 18px;
    width: 18px;
    z-index: 110;
    background-size: cover;
    left: 0;
    margin: 2px;
}
.darko{
    left: 22px;
    background-image: url(../pic/moon.png);
    height: 18px;
    width: 18px;
    z-index: 110;
    background-size: cover;
    margin: 2px;
}
.tg{
    position: absolute;
    border: solid 3px var(--op);
    height: 18px;
    width: 20px;
    border-radius: 11px;
    background-color: var(--bg);
    z-index: 120;
    transition: 0.6s;
    transform: translateX(-10px);


}
.tgl{
    transform: translateX(10px);

}

.logo{
    vertical-align: middle;
    height: 5vh;
    font-weight: 600;
    color: #e5e5e5;

}
.logo p{
    padding: 3px;
    display: flex;
    margin-block-start:0 ;
    margin-block-end: 0;

    

}
.menu{
    margin: 0%;
    padding: 0%;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-decoration: none;
    
    z-index: 99;
}
.menu li {
    list-style: none;
    
    transition: ease 0.1s;
    
    

}
#li1:hover{
    
    font-weight: 700;
    text-shadow: 2px 2px gray;
}
#li2:hover{
    font-weight: 700;
    text-shadow: 2px 2px gray;

}
#li3:hover{
    font-weight: 700;
    text-shadow: 2px 2px gray;

}
#li4:hover{
    font-weight: 700;
    text-shadow: 2px 2px gray;

}





.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:  rgb(202, 198, 198);
    margin: 5px;
    /*transition: all  ease 1s;*/

}
.line1{
    transition: ease 0.9s;
}
.line2{
    transition: ease 0.5s;
}
.line3 {
    transition: ease 0.7s;
}

.landing{
    position: absolute;
    height: 95vh ;
    width: 100% ;

    background:url(./background.jpg) ;
    background-size: cover;
    top: 0;
    display: table ;
    text-align: center;
    opacity: 0.5;
    z-index: 1;
}
.landing1{
    position: absolute;
    height: 95vh ;
    width: 100% ;
    background:url(./background1.png) ;
    background-size: cover;
    top: 0;
    display: table ;
    text-align: center;
    opacity: 0.9;
    z-index: 2;
}

.onLanding{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    position: absolute;
    text-shadow: 2px 1px var(--op) ;
    top: 0px;
    left: 0px;
    text-align: center;
    vertical-align: middle;
    margin-top: 5vh;
    padding-top: 25vh;
    height: 50vh;
    width: 100vw;
    opacity: 1;
    z-index: 55;
}
.onLanding h2{
    font-weight: 500;
}
.main{
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 100vh;
    padding: 4vw;
    display: table;
    
}

@media screen and (max-width:1024px){
    .menu{
        width: 60%;
     }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .menu {
        position: absolute;
        right : 0px;
        height: 95vh;
        top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:30vw;
        transform: translateX(100%) ;
        transition: 0.6s ease-in;
        color:var(--color2);
        background-image: var(--bgNav2);
    }
    .menu li {
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
        z-index: 99;
    }
    .menu-open{

        transform: translateX(0%);
    }
    @keyframes menuAnimation{
        from{
            opacity: 0;
            transform: translateX(50px);
            }
        to {
            opacity: 1;
            transform: translateX(0px);
    
        }
    
}
.toggle .line1{
    transform: rotate(-405deg) translate(-5px,6px);

}
.toggle .line2{
    opacity: 0;

}
.toggle .line3{
    transform: rotate(405deg) translate(-5px,-6px);

}

}