@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
:root{
    --light1:#e2e2e2;
    --light2:#2e4449 ;
    --l1:#7f877e;
    --light3:#f6d186;
    --dark1:#1b262c;
    --darkshadow:#161a1f;
    --dark2:#30597c;
    --dark3:#326d75;
    --dark4:#becad4;
    --mid3:#475959;
    --mid2:#316677;
    --b:black;
    --ab:#ccf0e1;

}


.light{
    --bg: var(--light1);
    --bg2:var(--dark2);
    --bg3:var(--light2);
    --bgNav: linear-gradient(to left, var(--light2), var(--l1));
    --color:var(--b);
    --color2: var(--dark4);
    --bg1:var(--dark2);
    --bgNav2: linear-gradient(to left, var(--light2), var(--mid3));
    --op:var(--dark2);
    --bs:var(--l1);
}
.dark{
    --bg3:var(--light3);
    --bg:var(--dark1);
    --bg2:var(--dark3);
    --bgNav: linear-gradient(to right, var(--dark2), var(--dark3));
    --color:var(--dark4);
    --color2: var(--light1);
    --bg1:var(--light3);
    --bgNav2: linear-gradient(to right, var(--mid2), var(--dark3));
    --op:var(--dark3);
    --darklineup:var(--ab);
    --bs:var(--darkshadow)
    /* --bs:var(--dark2); */
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    position: relative;
    /* display: flex; */
    /* big ooo mistake */
    flex-direction: column;
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg);
    color: var(--color);
    transition: 0.5s ease, color 0.9s ease ;
  
}
nav{ 
    background-color: var(--bgNav);
    background-image: var(--bgNav);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    width: 100vw;
    z-index: 199;
    position: fixed;
    top: 0;
    opacity: 1;
}
.blogContainer{
    font-family: 'Noto Sans JP', sans-serif;
    min-height: calc(100vh - 70px);
    padding-top: 30px;
    margin: 0 auto -50px;
    
}
.posts{
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-left: 40px;
    margin-right: 50px;
}
.post{
    display: flex;
    flex-direction: row;
    height: 37vh;
    margin: 20px;
    width:calc(100% -40px);
    border-radius: 6px;
    /* border: solid 1px var(--darklineup);  */
    align-items: center;
    box-shadow: var(--bs) 10px 10px 10px;
    justify-content: space-around;
    /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1)) */
    
}
.post a{
    color: rgb(98, 127, 255);
}
.postComtainer a{
    color: rgb(98, 127, 255);
}
.postPic{
    box-shadow: var(--bs) 1px 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    height: 35vh;
    width: 35vh;
    /* border: solid 1px red; */
}
.postPic img{
    height: 100%;
}
.postContent{
    margin: 10px;
    position: relative;
    border-radius: 10px;
    height: 35vh;
    width: calc(100% - 40vh);
    /* border: solid 1px red; */
    overflow: hidden;
    /* background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1)); */
    /* background-image:linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0) 20%, rgba(0,212,255,0) 100%); */
}
.postContent div{
    /* z-index: 1; */
    /* border: solid red 1px; */
    margin-left: 5px;
    margin-right: 5px;

}
.postContentOverlay{
    position: absolute;
    /* z-index: 20; */
    bottom: 0;
    margin-bottom: -10px;
    left: 0;
    background-image:linear-gradient(0deg, var(--bg) 0%, var(--bg) 5%, rgba(9,9,121,0) 50%, rgba(0,212,255,0) 100%);
    height: 35vh;
    width: 100%; 
}
.postText{
    font-size: 14px;
}
.postTitle{
    padding-left: 10px;
}
.postContainer{
    
    padding: 20px;
}
.pageTitle{
    margin-top: 8vh;
    padding-left: 15vw;
    padding-bottom: 3vh;
    font-size: x-large;

}
.pageText{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3vh;
    padding-bottom: 15vh;

}
.pageImage{
    width: 100vw;
    /* align-items: center; */
    margin: 20px;
    text-align: center;
}
.pageImage img{
    width: 70%;
    margin: 0;
    padding: 0;
    /* margin: -10px; */
    align-items: center;
    /* padding: -10px; */
    border-radius: 20px;
    box-shadow: var(--bs) 5px 5px 10px;

}

.onload{

    padding: 5vw;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 100;
    font-size: medium;
    color: lightgreen;
    position: fixed;
    z-index: 999;
    background-color: black;
    height: 100%;
    width: 90%;
    top: 0;
    
    overflow-x: hidden;
}
.main{

    padding-top: 3vh;
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 100vh;
    padding-left : 4vw;
    padding-right: 4vw;
    z-index: 19;
}
.footer,
.push {
  height: 50px;
}

.footer{
    
    left: 0;
    bottom: 0;
    height: 60px;  
    /* position: relative; */
    background-image: var(--bgNav);
    background-color: #303960;
    width: 100vw;

}
#footers-header{
    padding-top: 1px;
}
#footers-header h4{
    margin: 0 auto;
    width: 50px;

}
.contact{
    padding-top: 3px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding-left: 0;
}
.x{
    animation:none;
}
.sm{
    background-image: url(../pic/git.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    
    background-color: var(--ab);
    border:solid 1px var(--bg);
    transition: ease all 0.2s;
    cursor: pointer;
}
.sm:hover{
    transform: scale(1.1);
    background-color: white;
    border-radius: 6px;



}
.sm1{
    background-image: url(../pic/tw1.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: var(--ab);
    border:solid 1px var(--bg);
    transition: ease all 0.2s;
    cursor: pointer;
}
.sm1:hover{
    transform: scale(1.1);
    background-color: white;
    border-radius: 6px;
}
.sm2{
    background-image: url(../pic/li2.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: var(--ab);
    border:solid 1px var(--bg);
    transition: ease all 0.2s;
    cursor: pointer;
}
.sm2:hover{
    transform: scale(1.1);
    background-color: white;
    border-radius: 6px;

}
.sm3{
    background-image: url(../pic/gmail.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: var(--ab);
    border:solid 1px var(--bg);
    transition: ease all 0.2s;
    cursor: pointer;
}
.sm3:hover{
    transform: scale(1.1);
    border-radius: 6px;
    background-color: white;

}
.cr{
    font-size: small;
    font-weight: 100;
    border-radius: 1px;
    border-top: solid grey 2px ;
    text-align: left;
    padding-left: 2px;
    padding: 1px;
    padding-bottom: 1px;
    margin-left: 5px;
    width: 70vw;
    /* height: 10px; */
    margin-top: 0;
    margin-bottom: 0;

}

a{
    color: #e5e5e5;
    text-decoration: none;
}

.lightSwitch{
    background-color: none;
    border-radius: 10px;
    border: solid 1px white;
    background-color: var(--bg3);
    width: 48px;
    height: 24px;
    z-index: 99;
    display: flex;
    left: -40px;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
}
.lighto{
    
    background-image: url(../pic/astral.png);
    height: 18px;
    width: 18px;
    z-index: 110;
    background-size: cover;
    left: 0;
    margin: 2px;
}
.darko{
    left: 22px;
    background-image: url(../pic/moon.png);
    height: 18px;
    width: 18px;
    z-index: 110;
    background-size: cover;
    margin: 2px;
}
.tg{
    position: absolute;
    border: solid 3px var(--op);
    height: 18px;
    width: 20px;
    border-radius: 11px;
    background-color: var(--bg);
    z-index: 120;
    transition: 0.6s;
    transform: translateX(-10px);


}
.tgl{
    transform: translateX(10px);

}

.logo{
    font-weight: 600;
    color: #000000;
    padding: 2px;
    border: 2px solid rgba(0, 0, 0, 0.541);
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    border-radius: 5px;
    /* transform:scale(1.3,1) */
    /* animation: 5s linear 1s infinite alternate Lanim; */
}
.logo h1{
    margin: 0%;
    
}
.menu{
    margin: 0%;
    padding: 0%;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-decoration: none;
    
    z-index: 99;
}
.menu li {
    list-style: none;
    
    transition: ease 0.1s;
}
.menu li:hover{
    font-weight: 700;
    text-shadow: 2px 2px gray;
    }

    


/* #li1:hover{ */
    
   
#li2:hover{
    font-weight: 700;
    text-shadow: 2px 2px gray;

}
#li3:hover{
    font-weight: 700;
    text-shadow: 2px 2px gray;

}
#li4:hover{
    font-weight: 700;
    text-shadow: 2px 2px gray;

}





.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:  rgb(202, 198, 198);
    margin: 5px;
    border-radius: 100px;
    /*transition: all  ease 1s;*/

}
.line1{
    transition: ease 0.9s;
}
.line2{
    transition: ease 0.5s;
}
.line3 {
    transition: ease 0.7s;
}

.landing{
    position: absolute;
    height: 100% ;
    width: 100% ;
    background:url(./background.jpg) ;
    background-size: cover;
    top: 0;
    display: table ;
    text-align: center;
    opacity: 0.5;
    z-index: 1;
}
.landing1{
    position: absolute;
    height: 100% ;
    width: 100% ;
    background:url(./background1.png) ;
    background-size: cover;
    top: 0;
    display: table ;
    text-align: center;
    opacity: 1;
    z-index: 57;
}

.onLanding{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    position: absolute;
    text-shadow: 2px 1px var(--op) ;
    top: 0px;
    left: 0px;
    text-align: center;
    margin-top: 5%;
    padding-top: 15%;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 55;
    overflow-y: hidden;


}
.ln{
    bottom: 0;
    margin-top: 70vh;
    opacity: 0;
    

}
.ln1{
    bottom: 0;
    opacity: 0;

}
.ln11{
    animation: on1 2s cubic-bezier(0,1.4,0,.88)  1  forwards, wl 2s linear infinite alternate ;

}
.ln22{ 
    
     animation: on1 2s  cubic-bezier(.79,.82,.52,1.04) 0.5s  1  forwards , wl 2s linear infinite alternate ;
}
@keyframes Lanim{
    0%{
        left: 0;
        transform: rotate(0deg);
    }
    50%{
        left: -6px;
        transform: rotate(10deg);
    }
    100%{
        left: 6px;
        transform: rotate(-10deg);
    }
}@keyframes on1{ 
    from{
        opacity: 0;
        transform: translateY(0);
    }
    to{
        opacity: 1;
        transform: translateY(-70vh); 
    }
  

}
@keyframes pop{
    0%{
        transition: ease all 0.2s; 
    }
    25%{
        /* transform: translateX(2px); */
    }
    50%{
     
    }
    75%{
        /* transform: translateX(-2px); */
    }
    100%{
    transform: scale(1.3) translateY(-15px);
    border-radius: 6px;
    background-color: white;
    }
}

.skills{
    padding-bottom: 6vh;
}
.ms{
    text-align: center;
    padding-bottom: 4vh;
    padding-top: 4vh;
    border-top: solid 2px var(--bg2);
    padding-bottom: 6vh;
}
.sk{
    display: flex; 
    vertical-align: top;
    align-items: top;
    justify-content: space-around;
    
}
li{
    list-style: none;
}
.myProjects{
    border-top: solid 2px var(--bg2);

}
.resume{
    
    text-align: center;
    border-top: solid 2px var(--bg2);
    padding-bottom: 20px;
}
.d1{
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
    padding-top: 15px;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 4px 0;
    border-radius: 7px;
    bottom: 100%;
    left: -150%;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
  }
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; 
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: gray transparent transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
  }

@media screen and (max-width:1024px){
    .menu{
        width: 60%;
     }
     .logo{
        transform: scale(1,1); 
     }
    
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    
    .menu {
        position: absolute;
        right : 0px;
        height: calc(100vh - 30px);
        top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:30vw;
        transform: translateX(100%) ;
        transition: 0.6s ease-in;
        color:var(--color2);
        background-image: var(--bgNav2);
    }
    .menu li {
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
        z-index: 99;
    }
    .landing{
        background-position-x: center;
    }
    .landing1{
        background-position-x: center;
    }
    .posts{
        font-family: 'Noto Sans JP', sans-serif;
        padding-top: 50px;
        padding-bottom: 60px;
        margin: 0;
    }
    .post{
        flex-direction: column;
        height: 50vh;
        
    }
    .postContent{
        margin: 10px;
        position: relative;
        border-radius: 10px;
        height: 35vh;
        width: 100%;
        
    }
    .myProjects{
        padding-bottom: 15px;
    }
    @keyframes on1{ 
        from{
            opacity: 0;
            transform: translateY(0);
        }
        to{
            opacity: 1;
            transform: translateY(-60vh); 
        }
      
    
    }
    .menu-open{

        transform: translateX(0%);
    }
    .sk{
        flex-direction: column;
    }
    .d1{
        flex-direction: column;
    }
    @keyframes menuAnimation{
        from{
            opacity: 0;
            transform: translateX(50px);
            }
        to {
            opacity: 1;
            transform: translateX(0px);
    
        }
    
}
.toggle .line1{
    transform: rotate(-405deg) translate(-5px,6px);

}
.toggle .line2{
    opacity: 0;

}
.toggle .line3{
    transform: rotate(405deg) translate(-5px,-6px);

}

}
